body{
    background-color: wheat;
    border: 0cqmax;
    
        border: 5px black;

}
.kontak{
    header{
        border: 5px black;
    }
}
.lokasi{
    padding: 0px;
    margin: 0px;
}
.email{
    padding-right: 80px;
}
.profil{
    padding-inline-start: 50px;
}
.navbar2 ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar2 ul li a{
    color:black;
    text-transform: uppercase;
}