body{
    background-color: wheat;
}
.kotaksaran{
    
        width: 150px;
        height:150px;
        background:green;
    }
.kotak{
    padding-top: 20px;
}
.info{
    padding-top: 20px;
}
.kirim{
    padding-top: 20px;
}
.navbar2 ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar2 ul li a{
    color:black;
    text-transform: uppercase;
}
.nama{
    color: purple;
}
.email{
    color: purple;
}
.kirim{
    column-rule-color: blue;
}
